# CinetPay
CINETPAY_API_KEY=
CINETPAY_SITE_ID=
CINETPAY_SECRET=
CINETPAY_WEBHOOK_SECRET=
CINETPAY_TRANSFER_WEBHOOK_SECRET=
CINETPAY_BASE_URL=https://api-checkout.cinetpay.com/v2
CINETPAY_RETURN_URL=
CINETPAY_CANCEL_URL=
CINETPAY_FRONTEND_STATUS_URL=

# FedaPay
FEDAPAY_SECRET_KEY=
FEDAPAY_ENV=sandbox
FEDAPAY_BASE_URL=
FEDAPAY_TIMEOUT=15
FEDAPAY_DEFAULT_CURRENCY=XOF
FEDAPAY_CALLBACK_URL=
FEDAPAY_WEBHOOK_SECRET=
FEDAPAY_WEBHOOK_TOLERANCE=300
FEDAPAY_PAYOUT_WEBHOOK_SECRET=
FEDAPAY_PAYOUT_WEBHOOK_TOLERANCE=300

# PayPal
PAYPAL_CLIENT_ID=
PAYPAL_CLIENT_SECRET=
PAYPAL_ENV=sandbox
PAYPAL_BASE_URL=
PAYPAL_TIMEOUT=15
PAYPAL_DEFAULT_CURRENCY=EUR
PAYPAL_XOF_TO_EUR_RATE=655.957
PAYPAL_WEBHOOK_ID=
PAYPAL_RETURN_URL=
PAYPAL_CANCEL_URL=
PAYPAL_FRONTEND_STATUS_URL=

# Sourcing / Alibaba / AliExpress
SOURCING_OAUTH_STATE_TTL_MINUTES=15

ALIBABA_OAUTH_AUTHORIZE_URL=https://openapi-auth.alibaba.com/oauth/authorize
ALIBABA_OAUTH_TOKEN_URL=https://openapi-api.alibaba.com/rest/auth/token/create
ALIBABA_OAUTH_SECURITY_TOKEN_URL=https://openapi-api.alibaba.com/rest/auth/token/security/create
ALIBABA_OAUTH_REFRESH_URL=https://openapi-api.alibaba.com/rest/auth/token/refresh
ALIBABA_OAUTH_SECURITY_REFRESH_URL=https://openapi-api.alibaba.com/rest/auth/token/security/refresh
ALIBABA_API_BASE_URL=https://openapi-api.alibaba.com
ALIBABA_CALLBACK_URL=
ALIBABA_DEFAULT_SCOPE=
ALIBABA_INCLUDE_OPTIONAL_AUTHORIZE_PARAMS=false
ALIBABA_AUTHORIZE_FORCE_AUTH=false
ALIBABA_AUTHORIZE_UUID=
ALIBABA_PREFER_SECURITY_TOKENS=false
ALIBABA_SIGN_METHOD=sha256
ALIBABA_PRODUCT_DETAIL_METHOD=/alibaba/icbu/product/get/v2
ALIBABA_PRODUCT_DETAIL_PATH=
ALIBABA_PRODUCT_LOOKUP_PARAM=product_id
ALIBABA_PRODUCT_SEARCH_METHOD=/alibaba/icbu/product/search/v2
ALIBABA_CATEGORY_PREDICT_METHOD=/alibaba/icbu/category/predict/v2
ALIBABA_VIDEO_UPLOAD_METHOD=/alibaba/icbu/video/upload
ALIBABA_VIDEO_UPLOAD_RESULT_METHOD=/alibaba/icbu/video/upload/result
ALIBABA_VIDEO_QUERY_METHOD=/alibaba/icbu/video/query
ALIBABA_VIDEO_RELATION_MAIN_METHOD=/alibaba/icbu/video/relation/product/main
ALIBABA_BUYER_ITEM_ADD_METHOD=/eco/buyer/item/add
ALIBABA_BUYER_ITEM_QUERY_METHOD=/eco/buyer/item/query
ALIBABA_BUYER_ITEM_UPDATE_METHOD=/eco/buyer/item/update
ALIBABA_BUYER_ITEM_DELETE_METHOD=/eco/buyer/item/delete
ALIBABA_BUYER_PRODUCT_EVENTS_METHOD=/eco/buyer/product/events
ALIBABA_BUYER_PRODUCT_CHANNEL_BATCH_IMPORT_METHOD=/eco/buyer/product/channel/batch-import
ALIBABA_BUYER_CROSSBORDER_PRODUCT_CHECK_METHOD=/eco/buyer/crossborder/product/check
ALIBABA_BUYER_PRODUCT_CERT_METHOD=/eco/buyer/product/cert
ALIBABA_BUYER_PRODUCT_DESCRIPTION_METHOD=/eco/buyer/product/description
ALIBABA_BUYER_PRODUCT_KEYATTRIBUTES_METHOD=/eco/buyer/product/keyattributes
ALIBABA_BUYER_PRODUCT_INVENTORY_METHOD=/eco/buyer/product/inventory
ALIBABA_BUYER_LOCAL_PRODUCT_CHECK_METHOD=/eco/buyer/local/product/check
ALIBABA_BUYER_LOCALREGULAR_PRODUCT_CHECK_METHOD=/eco/buyer/localregular/product/check
ALIBABA_BUYER_ITEM_REC_IMAGE_METHOD=/eco/buyer/item/rec/image
ALIBABA_BUYER_PRODUCT_CHECK_METHOD=/eco/buyer/product/check
ALIBABA_BUYER_PRODUCT_SEARCH_METHOD=/eco/buyer/product/search
ALIBABA_BUYER_ITEM_REC_METHOD=/eco/buyer/item/rec
ALIBABA_ADVANCED_FREIGHT_CALCULATE_METHOD=/order/freight/calculate
ALIBABA_BASIC_FREIGHT_CALCULATE_METHOD=/shipping/freight/calculate
ALIBABA_MERGE_PAY_QUERY_METHOD=/order/merge/pay/query
ALIBABA_BUYNOW_ORDER_CREATE_METHOD=/buynow/order/create
ALIBABA_LOGISTICS_TRACKING_GET_METHOD=/order/logistics/tracking/get
ALIBABA_OVERSEAS_ADMITTANCE_CHECK_METHOD=/icbu/check/overseas/admittance
ALIBABA_DROPSHIPPING_ORDER_PAY_METHOD=/alibaba/dropshipping/order/pay
ALIBABA_ORDER_FUND_QUERY_METHOD=/alibaba/order/fund/query
ALIBABA_GGS_WAREHOUSE_LIST_METHOD=/alibaba/ggs/warehouse/list
ALIBABA_ORDER_ATTACHMENT_UPLOAD_METHOD=/alibaba/order/attachment/upload
ALIBABA_ORDER_CANCEL_METHOD=/alibaba/order/cancel
ALIBABA_ORDER_GET_METHOD=/alibaba/order/get
ALIBABA_ORDER_LIST_METHOD=/alibaba/order/list
ALIBABA_ORDER_PAY_RESULT_QUERY_METHOD=/alibaba/order/pay/result/query
ALIBABA_SELLER_WAREHOUSE_LIST_METHOD=/warehouse/list
ALIBABA_ORDER_LOGISTICS_QUERY_METHOD=/order/logistics/query
ALIBABA_REQUEST_TIMEOUT=20

ALIEXPRESS_OAUTH_AUTHORIZE_URL=https://api-sg.aliexpress.com/oauth/authorize
ALIEXPRESS_OAUTH_TOKEN_URL=https://api-sg.aliexpress.com/rest/auth/token/create
ALIEXPRESS_OAUTH_SECURITY_TOKEN_URL=https://api-sg.aliexpress.com/rest/auth/token/security/create
ALIEXPRESS_OAUTH_REFRESH_URL=https://api-sg.aliexpress.com/rest/auth/token/refresh
ALIEXPRESS_OAUTH_SECURITY_REFRESH_URL=https://api-sg.aliexpress.com/rest/auth/token/security/refresh
ALIEXPRESS_API_BASE_URL=https://api-sg.aliexpress.com
ALIEXPRESS_CALLBACK_URL=
ALIEXPRESS_DEFAULT_SCOPE=
ALIEXPRESS_INCLUDE_OPTIONAL_AUTHORIZE_PARAMS=false
ALIEXPRESS_AUTHORIZE_FORCE_AUTH=false
ALIEXPRESS_AUTHORIZE_UUID=
ALIEXPRESS_PREFER_SECURITY_TOKENS=true
ALIEXPRESS_SIGN_METHOD=sha256
ALIEXPRESS_LOCAL_TEST_FORCE_CREDENTIALS=false
ALIEXPRESS_LOCAL_TEST_APP_KEY=
ALIEXPRESS_LOCAL_TEST_APP_SECRET=
ALIEXPRESS_LOCAL_TEST_ACCESS_TOKEN=
ALIEXPRESS_LOCAL_TEST_REFRESH_TOKEN=
ALIEXPRESS_PRODUCT_DETAIL_METHOD=aliexpress.solution.product.info.get
ALIEXPRESS_PRODUCT_SEARCH_METHOD=aliexpress.solution.product.list.get
ALIEXPRESS_CATEGORY_TREE_METHOD=aliexpress.solution.seller.category.tree.query
ALIEXPRESS_DS_ORDER_CREATE_METHOD=aliexpress.ds.order.create
ALIEXPRESS_DS_PRODUCT_GET_METHOD=aliexpress.ds.product.get
ALIEXPRESS_DS_PRODUCT_WHOLESALE_GET_METHOD=aliexpress.ds.product.wholesale.get
ALIEXPRESS_DS_PRODUCT_SPECIALINFO_GET_METHOD=aliexpress.ds.product.specialinfo.get
ALIEXPRESS_DS_TEXT_SEARCH_METHOD=aliexpress.ds.text.search
ALIEXPRESS_DS_SEARCH_EVENT_REPORT_METHOD=aliexpress.ds.search.event.report
ALIEXPRESS_DS_TRADE_ORDER_GET_METHOD=aliexpress.trade.ds.order.get
ALIEXPRESS_DS_ORDER_TRACKING_GET_METHOD=aliexpress.ds.order.tracking.get
ALIEXPRESS_DS_MEMBER_BENEFIT_GET_METHOD=aliexpress.ds.member.benefit.get
ALIEXPRESS_DS_FREIGHT_QUERY_METHOD=aliexpress.ds.freight.query
ALIEXPRESS_DS_DEFAULT_LOGISTICS_SERVICE_NAME="AliExpress Selection Standard"
ALIEXPRESS_ORDER_GET_METHOD=aliexpress.trade.new.redefining.findorderbyid
ALIEXPRESS_ORDER_LIST_METHOD=aliexpress.trade.seller.orderlist.get
ALIEXPRESS_AFFILIATE_SHIPPING_METHOD=aliexpress.affiliate.product.shipping.get
ALIEXPRESS_AFFILIATE_SKU_DETAIL_METHOD=aliexpress.affiliate.product.sku.detail.get
ALIEXPRESS_AFFILIATE_PRODUCT_DETAIL_METHOD=aliexpress.affiliate.productdetail.get
ALIEXPRESS_AFFILIATE_PRODUCT_QUERY_METHOD=aliexpress.affiliate.product.query
ALIEXPRESS_AFFILIATE_CATEGORY_GET_METHOD=aliexpress.affiliate.category.get
ALIEXPRESS_AFFILIATE_LINK_GENERATE_METHOD=aliexpress.affiliate.link.generate
ALIEXPRESS_AFFILIATE_ORDER_GET_METHOD=aliexpress.affiliate.order.get
ALIEXPRESS_AFFILIATE_ORDER_LIST_METHOD=aliexpress.affiliate.order.list
ALIEXPRESS_AFFILIATE_ORDER_LISTBYINDEX_METHOD=aliexpress.affiliate.order.listbyindex
ALIEXPRESS_AFFILIATE_HOTPRODUCT_QUERY_METHOD=aliexpress.affiliate.hotproduct.query
ALIEXPRESS_AFFILIATE_HOTPRODUCT_DOWNLOAD_METHOD=aliexpress.affiliate.hotproduct.download
ALIEXPRESS_AFFILIATE_PRODUCT_SMARTMATCH_METHOD=aliexpress.affiliate.product.smartmatch
ALIEXPRESS_SELLER_INVOICING_APPLY_INFO_GET_METHOD=aliexpress.trade.invoice.sellerInvoicingApplyInfo.get
ALIEXPRESS_FUND_MERCHANT_ORDERDETAIL_METHOD=aliexpress.fund.merchant.orderdetail
ALIEXPRESS_BRAZIL_INVOICE_QUERY_METHOD=aliexpress.trade.tax.invoice.queryBrazilInvoiceInfo
ALIEXPRESS_BRAZIL_INVOICE_UPLOAD_METHOD=aliexpress.trade.tax.invoice.UploadBrazilInvoice
ALIEXPRESS_SELLER_INVOICING_RESULT_PUSH_METHOD=aliexpress.trade.invoice.sellerInvoicingResult.push
ALIEXPRESS_HSCODE_QUERY_REGULATORY_ATTRIBUTES_METHOD=aliexpress.trade.tax.hscode.queryRegulatoryAttributesInfoWithHsCode
ALIEXPRESS_HSCODE_SELECT_REGULATORY_ATTRIBUTES_OPTIONS_METHOD=aliexpress.trade.tax.hscode.selectRegulatoryAttributesOptions
ALIEXPRESS_FUND_RECIPET_FLOWDETAIL_QUERY_METHOD=aliexpress.fund.merchant.recipet.flowdetail.query
ALIEXPRESS_FUND_RECIPET_CONFIG_QUERY_METHOD=aliexpress.fund.merchant.recipet.config.query
ALIEXPRESS_FUND_RECIPET_DEBT_QUERY_METHOD=aliexpress.fund.merchant.recipet.debt.query
ALIEXPRESS_CUSTOMIZE_PRODUCT_INFO_QUERY_METHOD=aliexpress.customize.product.info.query
ALIEXPRESS_CUSTOMIZE_PRODUCT_TEMPLATE_QUERY_METHOD=aliexpress.customize.product.template.query
ALIEXPRESS_CUSTOMIZE_PRODUCT_INFO_AUDIT_RESULT_QUERY_METHOD=aliexpress.customize.product.info.audit.result.query
ALIEXPRESS_CUSTOMIZE_PRODUCT_INFO_CREATE_METHOD=aliexpress.customize.product.info.create
ALIEXPRESS_LOCAL_CB_PRODUCT_PRICES_EDIT_METHOD=aliexpress.offer.local.cb.product.prices.edit
ALIEXPRESS_LOCAL_CB_PRODUCT_STATUS_UPDATE_METHOD=aliexpress.offer.local.cb.product.status.update
ALIEXPRESS_LOCAL_CB_PRODUCT_EDIT_METHOD=aliexpress.offer.local.cb.product.edit
ALIEXPRESS_LOCAL_CB_PRODUCTS_LIST_METHOD=aliexpress.offer.local.cb.products.list
ALIEXPRESS_LOCAL_CB_PRODUCT_POST_METHOD=aliexpress.offer.local.cb.product.post
ALIEXPRESS_LOCAL_CB_PRODUCTS_STOCK_EDIT_METHOD=aliexpress.offer.local.cb.products.stock.edit
ALIEXPRESS_LOCAL_CB_PRODUCT_QUERY_METHOD=aliexpress.offer.local.cb.product.query
ALIEXPRESS_CATEGORY_CHILD_ATTRIBUTES_QUERY_METHOD=aliexpress.category.redefining.getchildattributesresultbypostcateidandpath
ALIEXPRESS_CATEGORY_TREE_LIST_METHOD=aliexpress.category.tree.list
ALIEXPRESS_CATEGORY_ITEM_QUALIFICATION_LIST_METHOD=aliexpress.category.itemQualification.list
ALIEXPRESS_CATEGORY_CASCADE_PROPERTIES_QUERY_METHOD=aliexpress.category.redefining.queryCascadeProperties
ALIEXPRESS_SOLUTION_SKU_ATTRIBUTE_QUERY_METHOD=aliexpress.solution.sku.attribute.query
ALIEXPRESS_SELLER_CATEGORY_TREE_QUERY_METHOD=aliexpress.solution.seller.category.tree.query
ALIEXPRESS_CATEGORY_QUALIFICATIONS_LIST_METHOD=aliexpress.category.qualifications.list
ALIEXPRESS_FREIGHT_SELLER_INTENTION_QUERY_METHOD=aliexpress.freight.redefining.querySellerIntention
ALIEXPRESS_FREIGHT_ISV_GRAY_QUERY_METHOD=aliexpress.freight.redefining.queryInIsvGray
ALIEXPRESS_FREIGHT_TEMPLATE_RECOMMEND_METHOD=aliexpress.freight.redefining.recommendFreightTemplate
ALIEXPRESS_FREIGHT_TEMPLATE_CREATE_METHOD=aliexpress.freight.redefining.createFreightTemplate
ALIEXPRESS_FREIGHT_TEMPLATE_LIST_METHOD=aliexpress.freight.redefining.listfreighttemplate
ALIEXPRESS_TRADE_ORDER_DECRYPT_METHOD=aliexpress.trade.seller.order.decrypt
ALIEXPRESS_SOLUTION_ORDER_RECEIPTINFO_GET_METHOD=aliexpress.solution.order.receiptinfo.get
ALIEXPRESS_SOLUTION_ORDER_GET_METHOD=aliexpress.solution.order.get
ALIEXPRESS_TRADE_VERIFYCODE_METHOD=aliexpress.trade.redefining.verifycode
ALIEXPRESS_TRADE_CONFIRMSHIPPINGMODE_METHOD=aliexpress.trade.redefining.confirmshippingmode
ALIEXPRESS_TRADE_SENDCODE_METHOD=aliexpress.trade.redefining.sendcode
ALIEXPRESS_ASF_LOCAL2LOCAL_SUB_DECLARESHIP_METHOD=aliexpress.asf.local2local.sub.declareship
ALIEXPRESS_ASF_DBS_DECLARESHIP_METHOD=aliexpress.asf.dbs.declareship
ALIEXPRESS_ASF_LOCAL2LOCAL_SELF_PICKUP_DECLARESHIP_METHOD=aliexpress.asf.local2local.self.pickup.declareship
ALIEXPRESS_ASF_DBS_DECLARE_SHIP_MODIFY_METHOD=aliexpress.asf.dbs.declare.ship.modify
ALIEXPRESS_ASF_SHIPMENT_PACK_METHOD=aliexpress.asf.shipment.pack
ALIEXPRESS_ASF_ORDER_SHIPPING_SERVICE_GET_METHOD=aliexpress.asf.order.shipping.service.get
ALIEXPRESS_ASF_PACKAGE_SHIPPING_SERVICE_GET_METHOD=aliexpress.asf.package.shipping.service.get
ALIEXPRESS_ASF_LOCAL2LOCAL_SPLIT_QUANTITY_RTS_PACK_METHOD=aliexpress.asf.local2local.split.quantity.rts.pack
ALIEXPRESS_ASF_PLATFORM_LOGISTICS_DOCUMENT_QUERY_METHOD=aliexpress.asf.platform.logistics.document.query
ALIEXPRESS_ASF_PLATFORM_LOGISTICS_RTS_METHOD=aliexpress.asf.platform.logistics.rts
ALIEXPRESS_ASF_PLATFORM_LOGISTICS_REPACK_METHOD=aliexpress.asf.platform.logistics.repack
ALIEXPRESS_ASF_LOCAL_UNREACHABLE_PREFERENCE_QUERY_METHOD=aliexpress.asf.local.unreachable.preference.query
ALIEXPRESS_ASF_SELLER_ADDRESS_GET_METHOD=aliexpress.asf.seller.address.get
ALIEXPRESS_ASF_LOCAL_UNREACHABLE_PREFERENCE_UPDATE_METHOD=aliexpress.asf.local.unreachable.preference.update
ALIEXPRESS_ASF_LOCAL2LOCAL_TRANSFER_TO_OFFLINE_METHOD=aliexpress.asf.local2local.transfer.to.offline
ALIEXPRESS_ASF_FULFILLMENT_PACKAGE_QUERY_METHOD=aliexpress.asf.fulfillment.package.query
ALIEXPRESS_ASF_LOCAL_SUPPLY_SHIPPING_SERVICE_GET_METHOD=aliexpress.asf.local.supply.shipping.service.get
ALIEXPRESS_ASF_LOCAL_SUPPLY_BATCH_DECLARESHIP_METHOD=aliexpress.asf.local.supply.batch.declareship
ALIEXPRESS_ASF_LOCAL_SUPPLY_DECLARESHIP_MODIFY_METHOD=aliexpress.asf.local.supply.declareship.modify
ALIEXPRESS_ASF_LOCAL_SUPPLY_SUB_DECLARESHIP_METHOD=aliexpress.asf.local.supply.sub.declareship
ALIEXPRESS_ASF_LOCAL_SUPPLY_SPLIT_QUANTITY_RTS_PACK_METHOD=aliexpress.asf.local.supply.split.quantity.rts.pack
ALIEXPRESS_ASF_LOCAL_SUPPLY_PLATFORM_LOGISTICS_DOCUMENT_QUERY_METHOD=aliexpress.asf.local.supply.platform.logistics.document.query
ALIEXPRESS_ASF_LOCAL_SUPPLY_PLATFORM_LOGISTICS_RTS_METHOD=aliexpress.asf.local.supply.platform.logistics.rts
ALIEXPRESS_ASF_LOCAL_SUPPLY_PLATFORM_LOGISTICS_REPACK_METHOD=aliexpress.asf.local.supply.platform.logistics.repack
ALIEXPRESS_ASF_LOCAL_SUPPLY_SELLER_ADDRESS_GET_METHOD=aliexpress.asf.local.supply.seller.address.get
ALIEXPRESS_LOCAL_SERVICE_PRODUCT_STOCKS_UPDATE_METHOD=aliexpress.local.service.product.stocks.update
ALIEXPRESS_LOCAL_SERVICE_PRODUCT_STOCKS_QUERY_METHOD=aliexpress.local.service.product.stocks.query
ALIEXPRESS_LOCAL_SERVICE_PRODUCTS_LIST_METHOD=aliexpress.local.service.products.list
ALIEXPRESS_LOCAL_SERVICE_PRODUCT_PRICES_EDIT_METHOD=aliexpress.local.service.product.prices.edit
ALIEXPRESS_LOCAL_SERVICE_PRODUCT_POST_METHOD=aliexpress.local.service.product.post
ALIEXPRESS_LOCAL_SERVICE_PRODUCT_EDIT_METHOD=aliexpress.local.service.product.edit
ALIEXPRESS_LOCAL_SERVICE_PRODUCT_QUERY_METHOD=aliexpress.local.service.product.query
ALIEXPRESS_LOCAL_SERVICE_PRODUCT_STATUS_UPDATE_METHOD=aliexpress.local.service.product.status.update
ALIEXPRESS_PRODUCT_DETAIL_PATH=
ALIEXPRESS_PRODUCT_LOOKUP_PARAM=product_id
ALIEXPRESS_REQUEST_TIMEOUT=20

APP_NAME="PRIME Gaming"
APP_ENV=production
APP_KEY=
APP_DEBUG=false
APP_URL=https://api.primegaming.space
FRONTEND_URL=https://primegaming.space
NEXT_PUBLIC_APP_URL=
VERCEL_URL=
CORS_SUPPORTS_CREDENTIALS=true
SANCTUM_STATEFUL_DOMAINS=primegaming.space
SESSION_DOMAIN=.primegaming.space
SUPPORT_URL=
PLAY_INTEGRITY_PACKAGE_NAME=space.primegaming.app
PLAY_INTEGRITY_SERVICE_ACCOUNT_JSON=
PLAY_INTEGRITY_SERVICE_ACCOUNT_PATH=

APP_LOCALE=en
APP_FALLBACK_LOCALE=en
APP_FAKER_LOCALE=en_US

APP_MAINTENANCE_DRIVER=file
# APP_MAINTENANCE_STORE=database

# PHP_CLI_SERVER_WORKERS=4

BCRYPT_ROUNDS=12

LOG_CHANNEL=stack
LOG_STACK=single
LOG_DEPRECATIONS_CHANNEL=null
LOG_LEVEL=debug

DB_CONNECTION=mysql
# DB_CONNECTION=pgsql
DB_HOST=
DB_PORT=3306
DB_DATABASE=
DB_USERNAME=
DB_PASSWORD=
DATABASE_URL=

SESSION_DRIVER=database
SESSION_LIFETIME=120
SESSION_ENCRYPT=false
SESSION_PATH=/
SESSION_DOMAIN=null
SESSION_SECURE_COOKIE=true

BROADCAST_CONNECTION=log
FILESYSTEM_DISK=local
PUBLIC_UPLOADS_DISK=public
PUBLIC_UPLOADS_ROOT=
QUEUE_CONNECTION=database

FEDAPAY_CURRENCY_IDS={"XOF":1}
FEDAPAY_PAYOUT_BALANCE_IDS={"mtn":1270177,"mtn_ci":1270180,"moov":0,"moov_tg":1270181,"togocel":1270186,"bestcash":0,"celtiis":0,"coris_money":0,"free_sn":0,"airtel_ne":0,"bank_transfer":2095197}

CACHE_STORE=database
# CACHE_PREFIX=

MEMCACHED_HOST=

REDIS_CLIENT=phpredis
REDIS_HOST=
REDIS_PASSWORD=null
REDIS_PORT=6379

MAIL_MAILER=brevo
MAIL_SCHEME=null
MAIL_HOST=
MAIL_PORT=2525
MAIL_USERNAME=null
MAIL_PASSWORD=null
MAIL_FROM_ADDRESS="hello@example.com"
MAIL_FROM_NAME="${APP_NAME}"

# Brevo Transactional Email API
BREVO_API_KEY=
BREVO_BASE_URL=https://api.brevo.com

AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=
AWS_DEFAULT_REGION=us-east-1
AWS_BUCKET=
AWS_USE_PATH_STYLE_ENDPOINT=false

VITE_APP_NAME="${APP_NAME}"

ADMIN_ALLOWED_IPS=
OWNER_ADMIN_EMAIL=admin@primegaming.space
OWNER_ADMIN_PASSWORD=admin@primegaming.space
